<% provide(:title, 'Home') %>
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
	<div class="span8">
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>  
<% else %>
<div class="center hero-unit">
	<div class="balloon">
		<%= image_tag "balloon.png" %>
	</div>
	<h1>Welcome to Microposting</h1>

	<h3>
		This is a sample app I developed as project while learning rails from
		<a href="http://railstutorial.org/" class="orangy">Ruby on Rails Tutorial</a>.
		<br> I have diverted from the instructions wherever I felt improvements were possible. 
		<br>For any info on me, feel free to visit my 
		<a href="http://in.linkedin.com/in/akshagrwl" class="orangy">Linkedin profile</a>.
	</h3>

	<%= link_to "Sign up now!", signup_path, 
	class: "btn btn-large btn-primary" %>
</div>

<% end %> 
